<div class="wrapper d-flex justify-content-center align-items-center w-100 h-100">
  <div class="container d-flex justify-content-center ">
    <div class="card bg-dark shadow">
      <div class="card-header text-light">
        <h3 class="fw-bold text-primary">Login</h3>
      </div>
      <div class="card-body text-light">
        <form>
          <input type="text" placeholder="Username" class="text-light bg-dark form-control my-2">
          <input type="text" placeholder="Password" class="text-light bg-dark form-control my-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
