<div class="shadow card w-100 bg-dark" *ngIf="!loggedIn">
  <div class="card-header text-light fw-bold">
    <h4>Login</h4>
  </div>
  <div class="card-body">
    <div class="w-100 d-flex flex-column justify-content-between align-items-center">
      <div class="w-100 alert alert-danger" *ngIf="error != ''">
        <span class="fw-bold">Error!</span> {{error}}
      </div>
      <div class="w-100 alert alert-success" *ngIf="freshLoggedInName != null">
        <span class="fw-bold">Success!</span> You successfully registerd as <b>{{freshLoggedInName}}</b>.
      </div>
      <form *ngIf="!isLoading" class="w-50 w-md-25" [formGroup]="form" (submit)="onSubmitLogin()">
        <input formControlName="username" type="text" placeholder="Username" class="w-100 my-2 text-light bg-dark form-control" required>
        <input formControlName="password" type="password" placeholder="Password" class="w-100 my-2 text-light bg-dark form-control" required>
        <button type="submit" class="btn btn-outline-light ">Login</button>
      </form>
      <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedIn">
  You are already loggedIn
</div>
