<header class="w-100 p-2">
<div class="container d-flex justify-content-between align-items-center">
  <a routerLink="/" class="link-primary text-decoration-none ">
    <h1 class="user-select-none h2 fw-bold p-0 m-0 text-light text-decoration-none  ">
      Url Shortener
    </h1>
  </a>
  <div>
    <ng-container *ngIf="!loggedIn">
      <app-header-button [link]="'/register'" [name]="'Register'" [icon]="faUserPlus"></app-header-button>
      <app-header-button [link]="'/login'" [name]="'Login'" [icon]="faRightToBracket"></app-header-button>
    </ng-container>
    <ng-container *ngIf="loggedIn">
      <app-header-button [link]="'/dashboard'" [name]="'Dashboard'" [icon]="faGauge"></app-header-button>
      <app-header-button [link]="'/'" [noActive]="true" (click)="logout()" [name]="'Logout'" [icon]="faRightFromBracket"></app-header-button>
    </ng-container>
  </div>
</div>
</header>
