<div *ngIf="loggedIn" class="card w-100 bg-dark">
  <div class="card-header text-light fw-bold">
    <h4>Dashboard</h4>
  </div>
  <div class="card-body text-light">
    <h3>Your URLs</h3>
    <table class="overflow-x-scroll table table-dark table-striped" *ngIf="myUrls">
      <thead>
        <tr>
          <th>#</th>
          <th>Url</th>
          <th></th>
          <th>ShortUrl</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let url of myUrls; let i = index">
          <th>
            {{i + 1}}
          </th>
          <td>
            <a target="_blank" class="link-light text-decoration-none" href="{{url.url}}">{{url.url}}</a>
          </td>
          <td>
            <fa-icon class="text-primary" [icon]="faArrowAltCircleRight"></fa-icon>
          </td>
          <td>
            <a target="_blank" class="link-light text-decoration-none" href="{{localUrl}}{{url.shorturl}}">{{localUrl}}{{url.shorturl}}</a>
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button class="mx-2 btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!loggedIn" class="d-flex justify-content-center">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
