<div class="row">
  <app-shortener class="p-2 col-12"></app-shortener>

  <app-stats class="p-2 col-12 col-xl-6"></app-stats>

  <div class="p-2 col-12 col-xl-6">
    <h3 class="fw-bold">About</h3>
    <p>We are excited to share with you the many benefits of our URL shortener. This handy tool allows you to take long, unwieldy URLs and transform them into shorter, more manageable links.</p>
    <p>One of the key advantages of our URL shortener is its reliability. You can trust that the links you share with your customers and clients will work consistently and efficiently, so they can easily access the information you want them to see.</p>
    <h3 class="fw-bold">Tracking</h3>
    <p>In addition, our shortener includes link tracking capabilities, so you can see how effective your shortened links are at driving traffic. This can help you measure the success of your marketing campaigns and make informed decisions about how to optimize your content for maximum impact.</p>
    <p>We believe our URL shortener is a valuable tool for any business looking to share links online, and we hope you find it as useful as we do.</p>
  </div>

</div>
