<div class="d-flex flex-column justify-content-between align-items-center">

  <section class="bg-gradient-1 rounded p-4 w-100 d-flex justify-content-center">
    <div class="w-100 w-md-50">
      <app-shortener></app-shortener>
    </div>
  </section>

  <div class="mt-3 text-light row">
    <div class="col-12 col-md-6">
       <div class="bg-gradient-2 rounded p-4 d-flex justify-content-center">
        <app-stats></app-stats>
       </div>
    </div>
    <div class="col-12 col-md-6 pt-md-0 pt-3">
        <h3 class="fw-bold">About</h3>
        <p>We are excited to share with you the many benefits of our URL shortener. This handy tool allows you to take long, unwieldy URLs and transform them into shorter, more manageable links.</p>
        <p>One of the key advantages of our URL shortener is its reliability. You can trust that the links you share with your customers and clients will work consistently and efficiently, so they can easily access the information you want them to see.</p>
        <h3 class="fw-bold">Customization <small style="font-size: 14px;" class="text-danger">*soon</small></h3>
        <p>Our URL shortener also allows for customization. You can choose to include your own branding or a relevant keyword in the short URL, making it more memorable and easier to share.</p>
        <h3 class="fw-bold">Tracking <small style="font-size: 14px;" class="text-danger">*soon</small></h3>
        <p>In addition, our shortener includes link tracking capabilities, so you can see how effective your shortened links are at driving traffic. This can help you measure the success of your marketing campaigns and make informed decisions about how to optimize your content for maximum impact.</p>
        <p>We believe our URL shortener is a valuable tool for any business looking to share links online, and we hope you find it as useful as we do.</p>
    </div>
  </div>
</div>

