<div class="card w-100 bg-dark">
  <div class="shadow card-body d-flex flex-column justify-content-between align-items-center">
    <app-shortener class="w-100 w-md-50"></app-shortener>
    <hr class="text-light my-5 w-100 w-md-75">
    <div class=" text-light row">
      <div class="col-12 col-md-6">
        <h3 class="fw-bold">About</h3>
        <p>We are excited to share with you the many benefits of our URL shortener. This handy tool allows you to take long, unwieldy URLs and transform them into shorter, more manageable links.</p>
        <p>One of the key advantages of our URL shortener is its reliability. You can trust that the links you share with your customers and clients will work consistently and efficiently, so they can easily access the information you want them to see.</p>
        <h3 class="fw-bold">Customization</h3>
        <small class="text-danger">*soon</small>
        <p>Our URL shortener also allows for customization. You can choose to include your own branding or a relevant keyword in the short URL, making it more memorable and easier to share.</p>
        <h3 class="fw-bold">Tracking</h3>
        <small class="text-danger">*soon</small>
        <p>In addition, our shortener includes link tracking capabilities, so you can see how effective your shortened links are at driving traffic. This can help you measure the success of your marketing campaigns and make informed decisions about how to optimize your content for maximum impact.</p>
        <p>We believe our URL shortener is a valuable tool for any business looking to share links online, and we hope you find it as useful as we do.</p>
      </div>
      <div class="col-12 col-md-6">
        <hr class="d-md-none">
        <div class="d-flex h-100 w-100 justify-content-center align-items-center">
          <table class="table table-dark stats-table">
            <tr>
              <th>100</th>
              <td>URLs shortened</td>
            </tr>
            <tr>
              <th>10</th>
              <td>Registerd users</td>
            </tr>
            <tr>
              <th>700</th>
              <td>URLs clicked</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
