<div class="w-100 border rounded overflow-hidden">
  <h4 class="text-light border-bottom p-3 mb-0 bg-gradient-3">Detail</h4>
  <div class="p-3">

    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <div *ngIf="!isLoading">
      <table class="m-0 table table-dark">
        <tr><th>Username</th><td>{{data.user.username}}</td></tr>
        <tr><th>Is admin</th><td><input [disabled]="yourself" (change)="toggleAdmin($event)" class="form-check-input border-light" type="checkbox" [checked]="data.user.isAdmin"></td></tr>
      </table>
    </div>

  </div>
</div>
