<div class="wrapper d-flex justify-content-center align-items-center w-100 h-100">
  <div class="container d-flex justify-content-center ">
    <div class="card bg-dark shadow">
      <div class="card-header text-light">
        <h3 class="fw-bold text-primary">URL Shortener</h3>
      </div>
      <div class="card-body text-light">
        <div class="row" *ngIf="!shorturl">
          <div class="col-8 col-md-9">
            <input (click)="onClickInput()" (keydown.enter)="onShorten()" [(ngModel)]="url" placeholder="Enter a URL" type="url" class="text-light w-100 form-control bg-dark">
          </div>
          <div class="col-4 col-md-3 d-flex justify-content-center">
            <button type="button" (click)="onShorten()" class="btn w-100 btn-outline-light">Shorten</button>
          </div>
          <div class="p-3 pb-0 h5" *ngIf="error != ''">
            <b class="text-danger">Error!</b> <span> {{error}}</span>
          </div>
          <div class="d-flex justify-content-center pt-4 pb-2" *ngIf="isLoading">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div class="h3" *ngIf="shorturl">
          <span>Your new url is:</span>
          <div class="url-space rounded mt-2 p-3 d-flex justify-content-between align-items-center">
            <a class="link-primary" href="{{shorturl}}">{{shorturl}}</a> <fa-icon class="hover-primary" (click)="onClickCopyToClipboard()" [icon]="faClipboard"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
