<div *ngIf="error" class="wrapper d-flex justify-content-center align-items-center w-100 h-100">
  <div class="container d-flex justify-content-center ">
    <div class="card bg-dark shadow">
      <div class="card-header text-light">
        <h3 class="fw-bold text-danger">Error!</h3>
      </div>
      <div class="shadow card-body text-light h3">
        <a routerLink="/"><button class="mb-2 btn btn-outline-light"><fa-icon [icon]="faArrowLeft"></fa-icon></button></a>
        <div>Can't redirect: <span class="text-muted">{{error}}</span></div>
      </div>
    </div>
  </div>
</div>

