<div [ngClass]="{border: border}" class="bg-gradient-1 rounded p-4 w-100 d-flex justify-content-center">
  <div class="w-100 w-md-50 text-light">
    <div class="w-100" *ngIf="!shorturl">
      <div class="w-100 alert alert-danger" *ngIf="error != ''">
        <span class="fw-bold">Error!</span> {{error}}
      </div>
      <h3 class="fw-bold text-center pb-3 text-light user-select-none">Paste the URL you want to shorten</h3>
      <div class="row gx-2">
        <div class="col-8 col-xl-10">
          <input (click)="onClickInput()" (keydown.enter)="onShorten()" [(ngModel)]="url" placeholder="Enter a URL to shorten" type="url" class="w-100 text-light form-control bg-dark">
        </div>
        <div class="col-4 col-xl-2">
          <button type="button" (click)="onShorten()" class="w-100 btn btn-outline-light">Shorten</button>
        </div>
      </div>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <div class="text-light" *ngIf="shorturl">
      <div>
        <button (click)="reset()" class="mb-2 btn btn-outline-light"><fa-icon [icon]="faArrowLeft"></fa-icon> </button>
      </div>
      <div class="w-100 alert alert-info" *ngIf="info != ''">
        <span class="fw-bold">Info!</span> {{info}}
      </div>
      <h3 class="text-light">
        Your new url is:
      </h3>
      <div class="p-3 rounded d-flex justify-content-between h4" style="background-color: #000;">
        <a class="link-primary" id="url" target="_blank" href="{{shorturl}}">{{shorturl}}</a>
        <app-copy-to-clipboard [textToCopy]="shorturl"></app-copy-to-clipboard>
      </div>
    </div>
  </div>
</div>
