
<div class="border rounded overflow-hidden">
  <h4 class="text-light border-bottom p-3 mb-0 bg-gradient-1">Your URLs</h4>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div class="overflow-x-scroll hide-scrollbar" *ngIf="!isLoading">
    <div class="w-100 p-3 " *ngIf="myUrls != null && myUrls.length <= 0">
      Currently you don't have any URLs!
    </div>

    <div class="p-2" *ngIf="myUrls != null && myUrls.length > 0 && maxPages > 1">
      Urls {{page*limit-limit+1}} - {{page == maxPages ? maxCount : page*limit}}
      of {{maxCount}} on page {{page}} of {{maxPages}}
    </div>

    <div class="d-flex justify-content-center align-items-center" *ngIf="myUrls != null && myUrls.length > 0 && maxPages > 1">
      <button [disabled]="!hasLast" (click)="pageBack()" class="btn btn-primary m-2"><fa-icon [icon]="arrowLeft"></fa-icon></button>
      <div class="user-select-none badge h-100 bg-primary d-flex justify-content-center align-items-center">
        {{page}}
      </div>
      <button [disabled]="!hasNext" (click)="pageForward()" class="btn btn-primary m-2"> <fa-icon [icon]="arrowRight"></fa-icon></button>
    </div>

    <table class="table table-dark table-striped m-0" *ngIf="myUrls != null && myUrls.length > 0">
      <thead class="border-bottom border-secondary">
        <tr>
          <th>Url</th>
          <th></th>
          <th>ShortUrl</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let url of myUrls">
          <td>
            <a target="_blank" class="link-light text-decoration-none" href="{{url.url}}">{{url.url}}</a>
          </td>
          <td>
            <fa-icon class="text-primary" [icon]="faArrowAltCircleRight"></fa-icon>
          </td>
          <td>
            <app-copy-to-clipboard class="me-2" [textToCopy]="localUrl + url.shorturl"></app-copy-to-clipboard>
            <a target="_blank" class="link-light text-decoration-none" href="{{localUrl}}{{url.shorturl}}">{{localUrl}}{{url.shorturl}}</a>
          </td>
          <td>
            {{url.date}}
          </td>
          <td class="h-100">
            <div class="d-flex justify-content-end">
              <div routerLink="/view-url/{{url.shorturl}}">
                <button class="mx-1 btn btn-primary"><fa-icon [icon]="faEye"></fa-icon></button>
              </div>
              <div (click)="deleteUrl(url.shorturl)">
                <button class="mx-1 btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
