:root {
  --bs-primary: #237890;
  --bs-primary-rgb: 35, 120, 144;
}
* {
  border-radius: 0px !important;
}

/* remove ugly bootstrap focus outline/border/shadow*/
input:focus,input:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
.spinner-border {
  border-radius: 50% !important;
}
body {
  background-color: var(--bs-dark);
  overflow-x: hidden;
}
main {
  background-color: #1c1c1c;
  height: 100%;
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
.link-primary {
  color: var(--bs-primary) !important;
}
.hover-primary:hover {
  color: var(--bs-primary) !important;
}
.url-space {
  background-color: #000;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.card {
  width: 50%;
}
@media only screen and (max-width: 1000px) {
  .card {
    width: 75%
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width: 95%
  }
}
@media only screen and (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
}
.btn-primary {
  background-color: var(--bs-primary);
  border: var(--bs-primary);
}
.btn-primary:focus, .btn-primary:hover   {
  background-color: var(--bs-primary) !important;
  border: var(--bs-primary) !important;
  filter: brightness(85%) !important;
}

.link-primary:hover, .link-primary:focus {
  color: var(--bs-primary) !important;
  filter: brightness(85%) !important;
}
.overflow-x-scroll {
  overflow-x: scroll;
  max-width: 100vw;
}
