<div class="w-100 border rounded overflow-hidden">
  <h4 class="text-light border-bottom p-3 mb-0 bg-gradient-1">Create User</h4>

  <div class="p-3">
    <div class="w-100 alert alert-danger" *ngIf="error">
      <span class="fw-bold">Error!</span> {{error}}
    </div>
    <div class="w-100 alert alert-success" *ngIf="successMessage && !error">
      <span class="fw-bold">Success!</span> {{successMessage}}
    </div>
    <form [formGroup]="createUserForm" (submit)="onSubmitCreateUser()">
      <div class="mb-2">
        <label class="form-label">Username</label>
        <input formControlName="username" type="text" class="form-control text-light form-control bg-dark" placeholder="Username">
      </div>
      <div class="mb-2">
        <label class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control text-light form-control bg-dark" placeholder="Password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <span *ngIf="!isLoading">Create</span>
        </button>
      </div>
    </form>
  </div>

</div>
