<div class="w-100 border rounded overflow-hidden">
  <h4 class="text-light border-bottom p-3 mb-0 bg-gradient-1">Access list</h4>
  <div>

    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <app-pagination-info [pagination]="pagination" *ngIf="data && pagination.maxPages > 1"></app-pagination-info>

    <app-table *ngIf="!isLoading" [noDataMessage]="'No one has accessed your URL yet!'" [dataset]="data" [headers]="['Time', 'IP']"></app-table>

    <app-pagination-button [isLoading]="isReLoading" (pageSwitchEvent)="onPageSwitch($event)" [pagination]="pagination" *ngIf="data && pagination.maxPages > 1"></app-pagination-button>

  </div>
</div>
